  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>

<form class="form" action="/home" method="post" name="formulario">
  <!--nombre, email y crear su password.-->
  <p>Nombre</p>
  <input type="text" name="user_name" >
  <p>email</p>
  <input type="text" name="user_email" >
  <p>Crear passwors</p>
  <input type="text" name="user_password" >
  <input type="submit" >
</form>
