<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<!-- &#8867; es el simbolo del torniquete -->
		<h1>&#8867; SECRET PAGE &#8866;</h1 >
		<p>
			La hora es actual es:
			<!--mostrar sesion con tiempo actual-->
			<%=session[:time] if session[:time] != nil %>
		</p>
		<!-- mostrar nombre -->
		<p>HOLA <%=@name if @name != nil %>  </p>
		<br>
		<!-- mostrar id -->
		<p>Tu id es <%=@id if @name != nil %>  </p>
		<form action="/" method="get">
				<input type="submit" name="logOut" value="SALIR">
		</form>

	</body>
</html>
