<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>SECRET PAGE</h1>
		<p>HOLA <%=session[:user_datails].name%> </p>
			<br>
			<p>TU id es <%=session[:user_datails].id%></p>
			<br>
			<!--
			 	No puede usarse:

					session[:user_datails].clear

				ya que esta sesion es un objeto Usser de la BD.

				No se puede iterar sobre el mismo,PREGUNTAR ABEL
			-->
	</body>
</html>
