  <h1>SIGN UP</h1>
<form class="frm" action="/signUP" method="post" name="formulario">
  <!--nombre, email y crear su password.-->
  <p>Nombre</p>
  <input type="text" name="user_name" >
  <p>Email</p>
  <input type="text" name="user_email" >
  <p>Crear passwors</p>
  <input type="text" name="user_password" >
  <input type="submit" >
  <!--Si existe la var error-->
  <% if @error %>
  <br>
    <!--el array de errores es iterado cada vez  -->
    <%@error.each do |e| %>
      <!-- cada uno es mostrado agregandole un espacio entre cada uno-->
      <%=e%><br>
    <%end%>
  <% end %>


</form>
